<h1><%= @patient.name %></h1>
<hr />
<h2>Patients</h2>
<ul>
<% @patient.name.each do |patient| %>
  <li>
  <%= link_to patient.name, patient %>
  </li>
  <% end %>
  </ul>
  <br>
  <br>
  <br>
  <%= link_to 'Delete Patient', @patient, method: :delete, class "ui red button inverted" %>
